{% extends 'admin/base.html' %}

{% block section_main %}
    {% block main_title %}
        <h2>Messages</h2>
    {% endblock main_title %}

    {% block section_title %}
        <p>Messages Summary</p>
    {% endblock section_title %}
    <!--main content-->
    <!-- menu -->

    <!--messages table-->
    {% if messages.total != 0 %}
        {% include 'admin/messages/_table_content.html' %}
    {% else %}
        <h5>You have not messages</h5>
    {% endif %}
    <!--end messages table-->
    <!--end main content>
{% endblock section_main %}