{% extends 'admin/base.html' %}

{% block section_main %}
    {% block main_title %}
        <h2>{{ work.title }}</h2>
    {% endblock main_title %}

    <!--main content-->
    {{render_form(form)}}
    <!--end main content-->

    <!-- work screenshots -->
    <div class="container mt-4">
        <h5>Work Screenshots</h5>
        <div class="row">
            {% for screenshot in work.screenshots %}

                <div class="col-md-4">
                    <img src="{{ screenshot.img_url }}" alt="work screenshot" width="250">
                </div>
            {% endfor %}
        </div>

    </div>
    <!--end work screenshots -->

    <!--delete work form-->
    <br>
    <form action="{{ url_for('admin.delete_work', id_work=work.id) }}" method="POST">
        {{ form.csrf_token }}
        <input type="submit" value="Delete this work" class="btn btn-danger">
    </form>  

{% endblock section_main %}