<div class="project-details">
    {% if project.url %}
        <a href="{{ project.url }}" target="_blank">
            <h1>{{ project.title }}</h1>
        </a>
    {% else %}
        <h1>{{ project.title }}</h1>
    {% endif %}
    <h3>{{ project.subtitle }}</h3>
</div>

<div class="project-summary">
    <h2>Summary</h2>
    <p>{{ project.summary }}</p>
    <!-- deep details -->
    <div class="details">
        <h2 class="sub">Used Technology:</h2>
        <p>{{ project.technology }}</p>
        <h2 class="sub">Project Category:</h2>
        <p>{{ project.work_category }}</p>
    </div>
    <!-- end  deep details -->
    <h2>Project links:</h2>
    <div class="project-links">
        {% if project.url %}
            <a href="{{ project.url }}" target="_blank">
                <img src="{{ url_for('static', filename='img/globe.svg') }}" alt="globe img" width="64">
            </a>
        {% endif %}
        <a href="{{ project.repository_url }}" target="_blank">
            <img src="{{ url_for('static', filename='img/github.svg') }}" alt="github icon" width="64">
        </a>
    </div>
</div>
