<nav>
    <a href="{{ url_for('main.home') }}">
        <img src="{{ url_for('static', filename='img/pedro_bastidas_dev_logo.svg') }}"
             alt="pedro bastidas dev logo" width="235">
    </a>

    <ul>
        <a href="{{ url_for('main.home') }}#work">
            <li>work</li>
        </a>
        <a href="{{ url_for('main.home') }}#about">
            <li>about</li>
        </a>
        <a href="{{ url_for('main.home') }}#contact">
            <li>contact</li>
        </a>
    </ul>
</nav>