<h2>
     <span class="thin">specializing in</span> <span class="bold">Python, PHP,</span> <span class="thin">and</span>
     <span class="bold">JavaScript.</span>
</h2>
<p class='info'>
    With a keen interest in creating impactful web applications, I focus on building intuitive and functional
    projects using modern frameworks and tools. My expertise spans Flask, Sqlalchemy, pandas, Laravel,
    Tailwind CSS, and object-oriented programming (OOP) concepts, which I apply to develop scalable and
    efficient applications.
</p>
<button type="button">
    Get in touch
    <img src="{{ url_for('static', filename='img/icons/icon-arrow-right.svg') }}" alt="icon arrow right" width="21">
</button>