/* hero section */
.hero{
    height: 65vh;
    background: none;
    padding: 0;
    position: relative;
}

.hero nav{
    z-index: 3;
    padding: 32px;
    background: rgba(54, 54, 54, 0.8);
}

.hero-image{
    z-index: -3;
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
}
/* end hero section */


/* project info section */
.project-info{
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 40px 32px;
    background: black;
}

.project-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    color: white;
}

.project-details a{
    color: inherit;
    text-decoration: none;
}

.project-details h1{
    font-size: 80px;
}

.project-details h3{
    font-size: 32px;
}

.project-info .project-summary{
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: white;
}

.project-summary h2{
    font-size: 80px;
    letter-spacing: -5%;
}

.project-summary h2{
    font-size: 80px;
    letter-spacing: -5%;
}

.project-summary p{
    line-height: 250%;
    font-size: 26px;
    font-weight: 200;
}

.project-summary .details{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.project-summary .details p{
    line-height: 5%;
}

.project-summary .sub{
    font-size: 40px;
}

.project-summary .project-links{
    display: flex;
    gap: 32px;
    align-items: center;
}

.screenshots{
    display: flex;
    flex-direction: column;
    padding: 40px 32px;
    gap: 16px;
}

/* end project info section */