.hero{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: red;
    padding: 40px 40px 0px 40px;
    background-image: url('/static/img/background.jpg');
    background-position: center;
    background-size: cover;
}

.hero nav{
    display: flex;
    justify-content: space-between;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 30px;

}

.hero .hero-content{
    display: flex;
    align-items: end;
    flex: 1;
}

.hero-content h2{
    width: 90%;
    font-size: 80px;
    text-transform: capitalize;
    color: white;
}

/* post hero section */
.post-hero{
    height: 100vh;
    background: black;
    display: flex;
    flex-direction: column;
    padding: 0px 40px 40px 40px;
}

.post-hero h2{
    color: white;
    font-size: 30px;
}


/* end post hero section*/