html {
  scroll-behavior: smooth;
}

body{
    font-family: "Roboto", serif;
}

/*hero section*/

.hero{
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 32px 32px 0px 32px;
    background-image: url('/static/img/background.jpg');
    background-position: center;
    background-size: cover;
}

.hero nav{
    display: flex;
    justify-content: space-between;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 30px;

}

nav ul a:hover{
    text-decoration: none;
}

nav ul li{
    text-transform: capitalize;
    color: white;
    font-weight: 600;
}

.hero .hero-content{
    display: flex;
    flex-direction: column;
    justify-content: end;
    flex: 1;
}

.hero-content h2{
    width: 90%;
    font-size: 80px;
    text-transform: capitalize;
    color: white;
}

.hero-content .flash{
    color: white;
    font-weight: 600;
    font-size: 32px;
}

.thin{
    font-weight: 200;
}

.bold{
    font-weight: 700;
}

/* end hero section*/

/* post hero section */
.post-hero{
    min-height: 100vh;
    background: black;
    display: flex;
    flex-direction: column;
    padding: 0px 32px 160px 32px;
    gap: 184px;
}

.post-hero h2{
    color: white;
    font-size: 80px;
    text-transform: capitalize;
}

.post-hero .info{
    color: white;
    line-height: 200%;
    font-size: 26px;
    font-weight: 200;
}

.post-hero button, .about button{
    width: 376px;
    height: 64px;
    font-weight: 200;
    font-size: 40px;
    color: white;
    background: none;
    border: 1px solid white;
    border-radius: 50px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

/* end post hero section*/

/* work section */
.work-section{
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.work-section .title{
    padding: 32px 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title h1{
    color: black;
    font-size: 160px;
    letter-spacing: -5%;
}

.title img{
    width: 150px;
}

/* work wrapper */
.work-section .work-wrapper{
    padding: 0px 32px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}
/* end work wrapper */

/* work info */

.work-wrapper .work-card{
    display: flex;
    height: 624px;
    padding: 0;
    border-radius: 24px;
    overflow: hidden;
    color: white;
    cursor: pointer;
    position: relative;
}

.work-card img{
    z-index: -3;
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.work-card .content{
    z-index: 3;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px;
}

.work-card .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    transition: background-color 0.5s ease;
}

.work-card .change-bg{
    background: rgba(0, 0, 0, 0.28);
}

.work-wrapper .work-card:hover{
    background-color: none;
    text-decoration: none;
}

.work-wrapper .full{
    grid-column: span 2;
}

.work-wrapper a:hover{
    text-decoration: none;
}


/* end work info */

/* end work section */

/* about section */
.work-section .about{
    background-color: black;
    color: white;
    min-height: 850px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    padding: 40px 32px;
}

.about .about-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about .about-title h1{
    color: white;
    font-size: 160px;
    letter-spacing: -5%;
}

.about .about-title img{
    transform: rotate(90deg);
    width: 150px;
}

.about p{
    color: white;
    line-height: 250%;
    font-size: 26px;
    font-weight: 200;
}

.about a:hover{
   text-decoration: none;
}

.about a{
    margin: 26px 0;
}

/* end about section */


/* contact section /footer */
.contact-section{
    margin-top: 48px;
    padding: 32px 32px;
    background: black;
    color: white;
}

.contact-section .contact{
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.contact .contact-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact .contact-title h1{
    font-size: 160px;
    letter-spacing: -5%;
}

.contact-title img{
    transform: rotate(90deg);
    width: 150px;
}

.contact .social-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.social-container h2{
    font-size: 32px;
    letter-spacing: -5%;
    line-height: 92.5%;
}

.social-container .social-networks{
    display: flex;
    gap: 16px;
}

.social-networks img{
    width: 64px;
}

.contact .contact-form-section{
    display: flex;
    gap: 16px;
}

.contact-form-section h2{
    font-size: 160px;
    letter-spacing: -5%;
    line-height: 92.5%;
    width: 350px;
    text-transform: capitalize;
}

.contact-form-section .form-container{
    flex: 1;
    padding: 0px 64px;
}

.form-container form{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form-container form label{
    font-size: 32px;
    letter-spacing: -5%;
    line-height: 92.5%;
    font-weight: 600;
}

.form-container form input, textarea{
    margin-bottom: 8px;
    height: 64px;
    background: #111111;
    color: white;
    font-size: 24px;
    padding: 0px 8px;
    border-radius: 16px;
    border: 1px solid #303030;
}

.form-container form textarea{
    min-height: 240px;
    padding: 8px;
    resize: none;
}

.form-container form input[type=submit]{
    height: 64px;
    font-weight: 200;
    font-size: 40px;
    color: white;
    background: none;
    border: 1px solid white;
    border-radius: 50px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 0px 70px;
}


/* end contact section /footer  */


/* errors */
.error{
    font-weight: 500;
    color: red;
}

/* errors */

/* Media queries */

@media screen and (max-width: 780px){

    .hero nav{
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }

    nav ul{
        padding: 0;
        justify-content: space-between;
    }


    /*hero section*/

    .hero{
        padding: 32px 16px 0px 16px;
    }

    .hero-content h2{
        font-size: 3em;
    }
    /* end hero section*/

    /* post hero section */
    .post-hero{
        padding: 0px 16px 32px 16px;
        gap: 32px;
    }


    .post-hero h2{
        font-size: 3em;
    }

    .post-hero .info{
        color: white;
        line-height: 200%;
        font-size: 24px;
        font-weight: 200;
    }

    .post-hero button, .about button{
        width: 100%;
    }
    /* end post hero section */


    /* work section */
    .work-section{
        gap: 24px;
    }

    .work-section .title{
        padding: 20px 16px;
    }

    .title h1{
        font-size: 3.5em;
    }

    .title img{
        width: 48px;
    }

    .work-section .work-wrapper{
        padding: 0px 16px;
        grid-template-columns: 1fr
    }

    .work-wrapper .work-card{
        height: 400px;
        padding: 24px 16px;
        border-radius: 24px;
    }

    .work-wrapper .full{
        grid-column: span 1;
    }


    /* end work section */


    /* about section */

    .work-section .about{
        min-height: auto;
        padding: 20px 16px;
    }

    .about .about-title h1{
        font-size: 3.5em;
    }

    .about .about-title img{
        width: 64px;
    }

    .about p{
        color: white;
        line-height: 200%;
        font-size: 24px;
    }

    .about a:hover{
       text-decoration: none;
    }

    .about a{
        margin: 26px 0;
    }


    /* end about section */

    /* contact section */
    .contact-section{
        margin-top: 24px;
        padding: 32px 16px;
    }
    .contact-section .contact{
        gap: 24px;
    }

    .contact .contact-title h1{
        font-size: 3.5em;
    }

    .contact-title img{
        width: 64px;
    }

    .social-container h2{
        font-size: 24px;
    }

    .social-networks img{
        width: 48px;
    }

    .contact .contact-form-section{
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .contact-form-section h2{
        font-size: 3em;
        text-align: center;
    }

    .contact-form-section .form-container{
        width: 100%;
        padding: 0;


    }

    .form-container form{
        width: 100%;
    }

    form .g-recaptcha, #submit{
        width: 100%;
    }

    .g-recaptcha {
    width: 100%;
  }
}

    /* end contact section */
}

/* end media queries */