body{
    font-family: "Roboto", serif;
}

/*hero section*/

.hero{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: red;
    padding: 32px 32px 0px 32px;
    background-image: url('/static/img/background.jpg');
    background-position: center;
    background-size: cover;
}

.hero nav{
    display: flex;
    justify-content: space-between;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 30px;

}

.hero .hero-content{
    display: flex;
    align-items: end;
    flex: 1;
}

.hero-content h2{
    width: 90%;
    font-size: 80px;
    text-transform: capitalize;
    color: white;
}

.thin{
    font-weight: 200;
}

.bold{
    font-weight: 700;
}

/* end hero section*/

/* post hero section */
.post-hero{
    min-height: 100vh;
    background: black;
    display: flex;
    flex-direction: column;
    padding: 0px 32px 160px 32px;
    gap: 184px;
}

.post-hero h2{
    color: white;
    font-size: 80px;
    text-transform: capitalize;
}

.post-hero .info{
    color: white;
    line-height: 200%;
    font-size: 26px;
    font-weight: 200;
}

.post-hero button{
    width: 376px;
    height: 64px;
    font-weight: 200;
    font-size: 40px;
    color: white;
    background: none;
    border: 1px solid white;
    border-radius: 50px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

/* end post hero section*/

/* work section */
.work-section{
    display: flex;
    flex-direction: column;
    /*padding: 40px 32px;*/
    gap: 48px;
}

.work-section .title{
    padding: 0px 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title h1{
    color: black;
    font-size: 160px;
    letter-spacing: -5%;
}

.title img{
    width: 150px;
}

/* work wrapper */
.work-section .work-wrapper{
    padding: 0px 32px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}
/* end work wrapper */

/* work info */

.work-wrapper .work-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 624px;
    padding: 50px;
    border-radius: 24px;
    overflow: hidden;
    color: white;
    overflow: hidden;
    cursor: pointer;
}

.work-wrapper .work-card:hover{
    background-color: red;
}

.work-wrapper .full{
    grid-column: span 2;
}

/* end work info */

/* end work section */

/* about section */
.work-section .about{
    background-color: black;
    color: white;
    min-height: 850px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    padding: 40px 32px;
}

.about .about-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about .about-title h1{
    color: white;
    font-size: 160px;
    letter-spacing: -5%;
}

.about .about-title img{
    transform: rotate(90deg);
    width: 150px;
}

.about p{
    color: white;
    line-height: 250%;
    font-size: 32px;
    font-weight: 200;
}
/* end about section */