{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main/style.css') }}">
{% endblock css %}

{% block title %}
    Pedro Bastidas dev
{% endblock title %}

{% block content %}
    <!--hero section-->
    <section class="hero">
        <!--nav-->
        <nav>
            <a href="#">
                <img src="" alt="logo image">
            </a>

            <ul>
                <li>work</li>
                <li>about</li>
                <li>contact</li>
            </ul>
        </nav>
        <h2>Tagline</h2>
        <!--end nav-->
    </section>
    <!--end hero-->

    <!-- post hero section-->
    <section class="post-hero">
        <h2>subtitle</h2>
        <p>paragraph</p>
        <button>Call to action</button>
    </section>
    <!-- end post hero section-->
    <!-- section work -->
    <section class="work-section">
        <p>works goes here</p>
    </section>
    <!-- end section work-->

    <!-- section contact -->
    <section class="contact-section">
        <p>contact</p>
    </section>
    <!-- end section contact -->
{% endblock content %}