{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main/style.css') }}">
{% endblock css %}

{% block title %}
    Pedro Bastidas dev
{% endblock title %}

{% block content %}
    <!--hero section-->
    <section class="hero">
        <!--nav-->
        {% include 'main/nav/nav.html' %}
        <!--end nav-->

        <!-- hero content-->
        {% include 'main/hero/hero.html' %}
        <!-- end hero content-->
    </section>
    <!--end hero-->

    <!-- post hero section-->
    <section class="post-hero">
       {% include 'main/hero/post-hero.html' %}
    </section>
    <!-- end post hero section-->

<!-- section work -->
    <section class="work-section" id="work">
        {% include 'main/work/work.html' %}
    </section>
    <!-- end section work-->

    <!-- section contact -->
    <section class="contact-section">
        {% include 'main/contact/contact.html' %}
    </section>
    <!-- end section contact -->
{% endblock content %}