{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main/project.css') }}">
{% endblock css %}

{% block title %}
    {{ project.title }}
{% endblock title %}

{% block content %}
    <!-- hero section --->
    <section class="hero">
        <!-- navbar -->
        {% include 'main/nav/nav.html' %}
        <!-- end navbar -->
        <img class="hero-image" src="{{ project.image_url }}" alt="project image">
        <div class="overlay"></div>
    </section>
    <!-- end hero section -->

    <!-- project info section-->
        <section class="project-info">
            {% include 'main/project/project-info.html' %}
        </section>
    <!-- end project info section-->


{% endblock content %}