<div class="about">
    <div class="about-title">
        <h1>About</h1>
        <img src="{{ url_for('static', filename='img/icons/icon-arrow-right.svg') }}" alt="icon arrow right">
    </div>
    <p>
        I'm a passionate web developer with a proven track record of bringing ideas to life. From initial concept to
        final production, I collaborate closely with clients to deliver functional and user-friendly solutions.
        My expertise spans Python, PHP, and JavaScript, enabling me to tackle a wide range of projects,
        including web applications, automation scripts, data analysis, and web scraping.
    </p>
    <p>
        I prioritize attention to detail and user experience to ensure every project is impactful and professionally
        executed. Let's work together to turn your vision into reality.
    </p>

    <a href="{{ url_for('static', filename='documents/cv_pedro_bastidas.pdf') }}" target="_blank">
        <button type="button">
        Download CV
            <img src="{{ url_for('static', filename='img/icons/icon-arrow-right.svg') }}" alt="icon arrow right" width="21">
        </button>
    </a>
</div>