{% extends 'admin/base.html' %}

{% block section_main %}
    {% block main_title %}
        <h2>Dashboard</h2>
    {% endblock main_title %}

    {% block section_title %}
        <p>Welcome to yur portfolio</p>
    {% endblock section_title %}


    <div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Total Works In Your Portfolio:</h5>
        <h4 class="card-text">{{ total_works }}</h4>
        <a href="{{ url_for('admin.works') }}" class="btn btn-primary">View Works</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Total Messages:</h5>
        <h4 class="card-text">45</h4>
        <a href="{{ url_for('admin.messages') }}" class="btn btn-primary">View Messages</a>
      </div>
    </div>
  </div>
</div>

{% endblock section_main %}