<!--first show 3rd works-->
<div class="work-wrapper">
    {% for work in works[0:3] %}
        <a href="{{ url_for('main.project', slug=work.slug) }}" class="{{ 'full' if work.full_width }}">
        <div class="work-card  {{ 'full' if work.full_width }}">
            <img src="{{ work.image_url }}" alt="project image">
            <div class="content" onmouseover="bg(this)" onmouseleave="end_bg(this)">
                 <div class="work-info">
                    <h2>{{ work.title }}</h2>
                    <h3>{{ works.subtitle }}</h3>
                 </div>
                <div class="work-category">
                    <h4>{{ work.work_category }}</h4>
                </div>
            </div>
            <div class="overlay"></div>
        </div>
        </a>
    {% endfor %}
</div>
<!--after 3rd work show about me-->
   {% include 'main/about/about.html' %}
<!-- end about me -->

<!--rest of works-->
<div class="work-wrapper">
    {% for work in works[3::] %}
    <a href="{{ url_for('main.project', slug=work.slug) }}" class="{{ 'full' if work.full_width }}">
        <div class="work-card  {{ 'full' if work.full_width }}">
             <img src="{{ work.image_url }}" alt="project image">
            <div class="content" onmouseover="bg(this)" onmouseleave="end_bg(this)">
                 <div class="work-info">
                    <h2>{{ work.title }}</h2>
                    <h3>{{ works.subtitle }}</h3>
                 </div>
                <div class="work-category">
                    <h4>{{ work.work_category }}</h4>
                </div>
            </div>
            <div class="overlay"></div>
        </div>
    </a>
    {% endfor %}
</div>
<!--make a helper for render each work-->

