{% for work in works %}
    <div class="work-card  {{ 'full' if work.full_width }}" style="background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
                        url('{{ work.image_url }}'); background-size: cover; background-position: center;">
         <div class="work-info">
            <h2>{{ work.title }}</h2>
            <h3>{{ work.subtitle }}</h3>
         </div>

        <div class="work-category">
            <h4>{{ work.work_category }}</h4>
        </div>
    </div>
{% endfor %}


<!--make a helper for render each work-->

